img {
    width : 40px ;
}

h1 {
    color : #ad0000 ;
    font-family : 'Graduate', cursive ;
    font-weight : 900 ;
    border-style : solid ; 
    background-color : #798191 ;
}
html {
    background-color : #585e69 ;
}
p {
    color : white ;
    font-family : 'Poiret One', cursive ;
    font-weight: 600 ;
    opacity : .7 ;
}
.white {
    color : white ;
    font-family : 'Poiret One', cursive ;
    font-weight : 600 ;
    opacity : .7 ;
}
.red {
    color : #ad0000 ;
    font-family : 'Roboto Mono', monospace ;
}
h3 {
    background-color: #798191 ;
    border-style: solid ;
}